b {
  font-weight: 600;
}

.dashboard-header-filters {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
}

.select-custom {
  width: 174px;
  border: 1px solid;
  padding: 4px;
}

.dashboard-filter .dashboard-filter__detail {
  padding: 15px;
  width: 100%;
}

.filter-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-content__range {
  display: flex;
}

.filter-content__range > div {
  margin: 0 20px 20px 0;
}

.filter-content > div {
  margin: 0 20px 20px 0;
}

.error-page {
  height: 100vh;
  padding-top: 70px;
  background-image: url(https://cdn.holistics.io/images/error-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.error-page__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
  margin-right: 76px;
}

.error-page__content .title {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 15px;
}

.error-page__content .description {
  font-size: 23px;
}

.filter-analytics {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 15px;
}

.filter-analytics-item__icon {
  padding-left: 10px;
  margin-right: 20px;
}

.filter-analytics-item__right {
  display: flex;
}

.draw-right-filter {
  width: 280px;
}

.draw-right-filter__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.hr-drawer {
  margin: 0px;
  flex-shrink: 0;
  border-width: 0px 0px thin;
  border-style: solid;
  border-color: rgba(145, 158, 171, 0.24);
}

.draw-right-filter__content {
  padding: 15px;
}

.content--item-range {
  padding-bottom: 20px;
}

.analytics-item--filter-selected {
  border-radius: 24px;
  background-color: #f1f3f7;
  margin: 1px 5px 0 0;
  padding: 4px 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.filter-analytics-item__left {
  display: flex;
}

/* .card-primary {
    color: rgb(0, 82, 73) !important;
    background-color: rgb(200, 250, 205) !important;
}

.card-pale-blue {
    color: rgb(4, 41, 122) !important;
    background-color: rgb(208, 242, 255) !important;
}

.card-pale-yellow {
    color: rgb(122, 79, 1) !important;
    background-color: rgb(255, 247, 205) !important;
} */

.loading-page {
  background: #13717d;
  width: 100%;
  height: 100vh;
}
.loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  width: 100px;
  color: #fff;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.loading span {
  position: absolute;
  height: 10px;
  width: 84px;
  top: 50px;
  overflow: hidden;
}
.loading span > i {
  position: absolute;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  -webkit-animation: wait 4s infinite;
  -moz-animation: wait 4s infinite;
  -o-animation: wait 4s infinite;
  animation: wait 4s infinite;
}
.loading span > i:nth-of-type(1) {
  left: -28px;
  background: yellow;
}
.loading span > i:nth-of-type(2) {
  left: -21px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background: lightgreen;
}

@-webkit-keyframes wait {
  0% {
    left: -7px;
  }
  30% {
    left: 52px;
  }
  60% {
    left: 22px;
  }
  100% {
    left: 100px;
  }
}
@-moz-keyframes wait {
  0% {
    left: -7px;
  }
  30% {
    left: 52px;
  }
  60% {
    left: 22px;
  }
  100% {
    left: 100px;
  }
}
@-o-keyframes wait {
  0% {
    left: -7px;
  }
  30% {
    left: 52px;
  }
  60% {
    left: 22px;
  }
  100% {
    left: 100px;
  }
}
@keyframes wait {
  0% {
    left: -7px;
  }
  30% {
    left: 52px;
  }
  60% {
    left: 22px;
  }
  100% {
    left: 100px;
  }
}

.signature-actions{
margin-left: 20px;
margin-top: 10px;
cursor: pointer;
}
.signature-item {
  display: flex;
  justify-content: center;
}
.btn-generate-token{
  padding-top: 35px;
}